# Allow kitepaint domains to make requests to this repo's uploaded files
SetEnvIf Origin "((http(s)?://(www\.|\.)?(kitepaint.com|beta.kitepaint.com))|.*localhost:.*)$" AccessControlAllowOrigin=$0
Header Set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
